In [1]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.12.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.4.1.post1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\1qlqj\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [3]:
train = pd.read_csv("data/train.csv")
raw = pd.read_csv("data/ObesityDataSet_raw_and_data_sinthetic.csv")

In [4]:
train

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20753,20753,Male,25.137087,1.766626,114.187096,yes,yes,2.919584,3.000000,Sometimes,no,2.151809,no,1.330519,0.196680,Sometimes,Public_Transportation,Obesity_Type_II
20754,20754,Male,18.000000,1.710000,50.000000,no,yes,3.000000,4.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
20755,20755,Male,20.101026,1.819557,105.580491,yes,yes,2.407817,3.000000,Sometimes,no,2.000000,no,1.158040,1.198439,no,Public_Transportation,Obesity_Type_II
20756,20756,Male,33.852953,1.700000,83.520113,yes,yes,2.671238,1.971472,Sometimes,no,2.144838,no,0.000000,0.973834,no,Automobile,Overweight_Level_II
20757,20757,Male,26.680376,1.816547,118.134898,yes,yes,3.000000,3.000000,Sometimes,no,2.003563,no,0.684487,0.713823,Sometimes,Public_Transportation,Obesity_Type_II

In [5]:
raw

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [35]:
train["NObeyesdad"].value_counts()

NObeyesdad
4    4046
3    3248
1    3082
2    2910
0    2523
6    2522
5    2427
Name: count, dtype: int64

In [36]:
raw["NObeyesdad"].value_counts()

NObeyesdad
2    351
4    324
3    297
5    290
6    290
1    287
0    272
Name: count, dtype: int64

In [37]:
# train 데이터의 범주형 변수를 숫자형으로 인코딩
label_encoders = {}
for column in train.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    train[column] = le.fit_transform(train[column])
    label_encoders[column] = le

In [38]:
# train 데이터의 독립 변수와 종속 변수 분리
train_X = train.drop('NObeyesdad', axis=1)
train_Y = train['NObeyesdad']

In [39]:
# SMOTE 적용
smote_tr = SMOTE(random_state=42)
X_resampled, y_resampled = smote_tr.fit_resample(train_X, train_Y)

In [40]:
# SMOTE 적용 후 클래스 분포 확인
print(y_resampled.value_counts())

NObeyesdad
6    4046
1    4046
0    4046
4    4046
3    4046
5    4046
2    4046
Name: count, dtype: int64

In [41]:
# 균형 잡힌 데이터셋을 생성한 후의 데이터프레임을 만듭니다.
balanced_data = pd.concat([X_resampled, y_resampled], axis=1)
balanced_data

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,2,0,2.763573,0,0.000000,0.976473,1,3,6
1,1,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,1,0,2.000000,0,1.000000,1.000000,2,0,1
2,2,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,2,0,1.910378,0,0.866045,1.673584,2,3,0
3,3,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,2,0,1.674061,0,1.467863,0.780199,1,3,4
4,4,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,2,0,1.979848,0,1.967973,0.931721,1,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,4330,0,21.237127,1.712654,79.753557,1,1,2.124821,3.000000,2,0,2.084325,0,1.079651,1.000000,1,3,6
28318,5960,1,32.421383,1.831357,96.148084,1,1,2.000000,3.000000,2,0,2.716554,0,0.801155,0.021792,1,0,6
28319,7179,0,35.024816,1.653796,82.584087,1,1,2.000000,2.305158,2,0,2.254343,0,1.209729,0.142454,2,0,6
28320,4943,1,21.874244,1.789265,94.295993,1,0,2.000000,2.796829,2,0,2.754181,0,0.929684,1.000000,1,3,6
28321,10028,1,23.891336,1.708975,83.350609,1,1,2.000000,2.737574,2,0,2.109478,0,0.954338,0.037859,1,2,6

In [42]:
# raw 데이터의 범주형 변수를 숫자형으로 인코딩
label_encoders = {}
for column in raw.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    raw[column] = le.fit_transform(raw[column])
    label_encoders[column] = le

In [43]:
# 독립 변수와 종속 변수 분리
raw_X = raw.drop('NObeyesdad', axis=1)
raw_Y = raw['NObeyesdad']

In [44]:
# SMOTE 적용
smote_raw = SMOTE(random_state=42)
X_resampled_raw, y_resampled_raw = smote_raw.fit_resample(raw_X, raw_Y)

In [45]:
# SMOTE 적용 후 클래스 분포 확인
print(y_resampled_raw.value_counts())

NObeyesdad
1    351
5    351
6    351
2    351
0    351
3    351
4    351
Name: count, dtype: int64

In [46]:
# 균형 잡힌 데이터셋을 생성한 후의 데이터프레임을 만듭니다.
balanced_data_raw = pd.concat([X_resampled_raw, y_resampled_raw], axis=1)
balanced_data_raw

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.000000,1.620000,64.000000,1,0,2.000000,3.000000,2,0,2.000000,0,0.000000,1.000000,3,3,1
1,0,21.000000,1.520000,56.000000,1,0,3.000000,3.000000,2,1,3.000000,1,3.000000,0.000000,2,3,1
2,1,23.000000,1.800000,77.000000,1,0,2.000000,3.000000,2,0,2.000000,0,2.000000,1.000000,1,3,1
3,1,27.000000,1.800000,87.000000,0,0,3.000000,3.000000,2,0,2.000000,0,2.000000,0.000000,1,4,5
4,1,22.000000,1.780000,89.800000,0,0,2.000000,1.000000,2,0,2.000000,0,0.000000,0.000000,2,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,0,18.908003,1.561204,71.767918,1,0,3.000000,3.360799,2,0,2.000000,0,1.013107,1.000000,2,3,6
2453,1,32.317446,1.840052,97.903488,1,1,2.237008,1.866043,2,0,2.686786,0,1.232524,0.342083,2,0,6
2454,1,23.315311,1.714455,82.113595,1,1,2.672444,2.604777,2,0,2.757192,0,1.528302,0.217701,2,3,6
2455,0,19.055420,1.631667,76.816521,1,0,2.866609,3.000000,1,0,2.768454,0,1.936788,1.000000,2,1,6
2456,1,33.124341,1.694574,84.053203,1,1,2.000000,2.580033,2,0,2.402989,0,1.005533,0.000000,3,0,6

In [48]:
data = pd.concat([balanced_data, balanced_data_raw], axis=0)
data

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0.0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,2,0,2.763573,0,0.000000,0.976473,1,3,6
1,1.0,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,1,0,2.000000,0,1.000000,1.000000,2,0,1
2,2.0,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,2,0,1.910378,0,0.866045,1.673584,2,3,0
3,3.0,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,2,0,1.674061,0,1.467863,0.780199,1,3,4
4,4.0,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,2,0,1.979848,0,1.967973,0.931721,1,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,NaN,0,18.908003,1.561204,71.767918,1,0,3.000000,3.360799,2,0,2.000000,0,1.013107,1.000000,2,3,6
2453,NaN,1,32.317446,1.840052,97.903488,1,1,2.237008,1.866043,2,0,2.686786,0,1.232524,0.342083,2,0,6
2454,NaN,1,23.315311,1.714455,82.113595,1,1,2.672444,2.604777,2,0,2.757192,0,1.528302,0.217701,2,3,6
2455,NaN,0,19.055420,1.631667,76.816521,1,0,2.866609,3.000000,1,0,2.768454,0,1.936788,1.000000,2,1,6
2456,NaN,1,33.124341,1.694574,84.053203,1,1,2.000000,2.580033,2,0,2.402989,0,1.005533,0.000000,3,0,6

In [49]:
data.reset_index(drop=True, inplace=True)

In [50]:
data.pop("id")

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
        ...
30774    NaN
30775    NaN
30776    NaN
30777    NaN
30778    NaN
Name: id, Length: 30779, dtype: float64

In [51]:
data["NObeyesdad"].value_counts()

NObeyesdad
6    4397
1    4397
0    4397
4    4397
3    4397
5    4397
2    4397
Name: count, dtype: int64

In [52]:
# 독립 변수와 종속 변수 분리
data_X = data.drop('NObeyesdad', axis=1)
data_Y = data['NObeyesdad']

In [53]:
# 예시: 각 클래스별 추가할 샘플 수 계산
additional_samples_per_class = 2746  # 각 클래스당 추가할 샘플 수
target_samples_per_class = {i: 4397 + additional_samples_per_class for i in range(7)}  # 각 클래스의 목표 샘플 수

# SMOTE 적용
smote = SMOTE(sampling_strategy=target_samples_per_class, random_state=42)
X_resampled, y_resampled = smote.fit_resample(data_X, data_Y)

# 결과 확인
print('새로운 데이터셋의 크기:', X_resampled.shape)

새로운 데이터셋의 크기: (50001, 16)

In [55]:
data = pd.concat([X_resampled, y_resampled], axis=1)
data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,24.443011,1.699998,81.669950,1,1,2.000000,2.983297,2,0,2.763573,0,0.000000,0.976473,1,3,6
1,0,18.000000,1.560000,57.000000,1,1,2.000000,3.000000,1,0,2.000000,0,1.000000,1.000000,2,0,1
2,0,18.000000,1.711460,50.165754,1,1,1.880534,1.411685,2,0,1.910378,0,0.866045,1.673584,2,3,0
3,0,20.952737,1.710730,131.274851,1,1,3.000000,3.000000,2,0,1.674061,0,1.467863,0.780199,1,3,4
4,1,31.641081,1.914186,93.798055,1,1,2.679664,1.971472,2,0,1.979848,0,1.967973,0.931721,1,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,1,29.074722,1.787171,97.186406,1,1,2.000000,2.490481,2,0,2.508759,0,1.061774,0.000000,1,0,6
49997,0,55.018666,1.672782,80.332182,1,0,2.000000,2.143669,2,0,1.000000,0,1.787558,0.000000,2,0,6
49998,0,21.403953,1.712050,80.080283,1,1,2.000000,2.038757,1,0,2.008048,0,1.904831,1.200079,1,3,6
49999,1,22.436972,1.761435,89.871584,1,1,2.235085,2.894002,2,0,2.099450,0,0.738119,0.120494,1,3,6
50000,1,29.743627,1.825033,94.312213,1,1,2.241401,2.935499,2,0,1.856241,0,1.823180,0.663363,1,2,6

In [56]:
data.to_csv("data/data.csv")